.searchBox{
	width: 70%;
    padding: 11px;
    font-size: large;
    border: solid 2px #27da93;
    display: inline-block !important;

}
.searcBtn{
    height: 35px;
    padding: 0px 16px;
    background-color: #27da93;
    color: #FFF;
}

.home-caption{
	
  	left: 37%;
}
.home-caption h3{
	color: #fff;
	font-size: 3em;
  	text-transform: uppercase;
  	display: inline-block;
  	font-family: 'Montserrat-Regular';
  	padding: 0 0 0.3em;
}
.home-caption h3 span{
	border-bottom: 7px solid #27DA93;
}
.home-caption p{
	color: #fff;
	font-size: 1.7em;
	margin: 0.5em 0em 0;
}

.caption{
	position: absolute;
	top: 43%;
  	left: 13%;
}
.caption h3{
	color: #fff;
	font-size: 3em;
  	text-transform: uppercase;
  	display: inline-block;
  	font-family: 'Montserrat-Regular';
  	padding: 0 0 0.3em;
}
.caption h3 span{
	border-bottom: 7px solid #27DA93;
}
.caption p{
	color: #fff;
	font-size: 1.7em;
	margin: 0.5em 0em 0;
}
.listing-title, .listing-image{
	cursor: pointer;
}

.searchIdx{
  border: 1px solid black;
}

.realEstateAd{
  border: 1px solid lightgrey;

  margin:15px 0px;

}

.adImage{
  text-align: center;
}

.listing-image{
  width:89%;
}
.adCardDetails{
  font-size: 11.5px;
  
}
.adCardsAttribute{
  color: grey;
  padding: 0px 10px 0px 11px !important;
}
.adCardsValue{
  color: darkgrey;
  padding: 0px 10px 0px 10px !important;
}
.realEstateProperties{
  display: inline-flex;
}
.divider{
  margin-top: 5px;
    margin-bottom: 8px;
    margin-left: -5px;
}
.companyPic{
  width: 140px;
  height:140px;
  border-radius: 50%;
  padding: 3px;
  border: 1.5px solid #27DA93;
}
.companyName{
  color: grey;
}
.companyDescription{
  color:darkgrey;
}