<div class="header">
	<div class="container">
		<!--logo-->
		<div class="logo">
			<h1><a href="home.html">REasy</a></h1>
		</div>
		<!--//logo-->
		<div class="top-nav">
			
			<ul class="right-icons">
				<li><a  href="home.html">Home</a></li>
				<li><a  href="about.html">About Us</a></li>
				<li><a  href="blog.html">Blog</a></li>
				<li><a  href="terms.html">Terms</a></li>
				<li><a  href="privacy.html">Privacy</a></li>
				<li><a  href="contact.html">Contact</a></li>
			</ul>
			<ul class="right-icons">
				<li><a  href="login.html"><i class="glyphicon glyphicon-user"> </i>Login</a></li>
				<li><a  href="register.html"><i class="glyphicon glyphicon-user"> </i>Sign up</a></li>
			</ul>
	
		</div>
	</div>	
</div>